.LeftBar
  .Projects
    - current_user.projects.each do |project|
      .Project
        = link_to project_path(project) do
          .Project__Name
            = project.title
  .NewTitle
    = link_to new_project_path do
      =icon('fas', 'plus')


