.New
  = form_with model:@project, html: {class:"Edit__Form"}, local:true do |f|
    .New__Content
      .New__Content__Title
        タイトル
        = f.text_field :title, class: "New__Content__Form"
    = f.submit '新規作成', class: "New__Submit"
