body{
  height: 100vh;
  background-image: url("#{asset_path('background.jpeg')}");
  display:block;
  background-size: cover;
}

.Header{
  &__TitleBar{
    height:6vh;
    padding: 0 50px;
    background-color: #00211d;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    &__User{
      width: 300px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 20px;
    }
    &__Name{
      font-size: 30px;
    }
    &__Logout{
      font-size: 17px;
      color: whitesmoke;
      border: whitesmoke;
    }
  }

  &__LinkBar{
    height:4vh;
    background-color: #94aa8d;
    font-size: 25px;
    display: flex;
    justify-content: center;
    &__countent{
      width: 33.33vw;
      align-items: center;
      .countent{
        width: 33.33vw;
        display: flex;
        justify-content: center;
        color:whitesmoke;
        margin-top: 8px;
      }
    }
    
  }
}
