
.Main {
  height: 90vh;
  color: black;
  background-color: #94aa8d；
  // opacity: 0.2;
}

.List{
  height: 5%;
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
  opacity: 0.45;
  color: black;
}

.Item{
  height: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow:scroll;
  &__Box{
    display: flex;
    text-align: center;
  }
}

.Form{
  height: 5%;
  display: flex;
  justify-content: space-around;
}