
.Main {
  height: 90vh;
  color: black;
  background-color: #94aa8d；
}

.List{
  height: 5%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(#cde4c2, 0.4);
  color: black;
  border-bottom: black 5px double;
}

.Item{
  height: 90%;
  background-color: rgba(#cde4c2, 0.4);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow:scroll;
  &__Box{
    display: flex;
    text-align: center;
  }
}

.Form{
  height: 5%;
  display: flex;
  justify-content: space-around;
}