.MM_Main {
  height: 90vh;
  color: black;
  background-color: rgba(#cde4c2, 0.25);
  display: flex;
}
.LeftBar{
  width: 20vw;
  background-color: rgba(#cde4c2, 0.4);
}
.ExistingTitle{
  height: 80vh;
  overflow: scroll;
}
.Memos{
  height: 10vh;
  display: flex;
  align-items: center;
  &__Name{
   color: black;
   text-decoration: none;
  }
}
.NewTitle{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RightBar{
  width: 80vw;
}