.TD_Main {
  height: 90vh;
  color: black;
  background-color: rgba(#cde4c2, 0.25);
  display: flex;
}
.LeftBar{
  width: 20vw;
  background-color: rgba(#cde4c2, 0.4);
}
.Projects{
  height: 80vh;
  overflow: scroll;
  font-size: 20px;
}
.Project{
  height: 10vh;
  display: flex;
  align-items: center;
  &__Name{
   color: black;
   text-decoration: none;
  }
}
.NewTitle{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RightBar{
  width: 80vw;
}
.Title{
  height: 10vh;
  font-size: 25px;
  display: flex;
  align-items: center;
  &__Main{
    width: 90%;
    word-wrap: break-word;
  }
  &__Content{
    width: 10%;
  }
}
.Memo{
  height: 80vh;
  font-size: 18px;
  word-wrap: break-word;
}