
.LeftBar
  .ExistingTitle
    - current_user.memos.each do |memo|
      .Memos
        = link_to memo_path(memo) do
          .Memos__Name
            = memo.title
  .NewTitle
    = link_to new_memo_path do
      =icon('fas', 'plus')
