.Edit
  = form_with model:@memo, html: {class:"Edit__Form"}, local:true do |f|
    .Edit__Content
      .Edit__Content__Title
        タイトル
        = f.text_field :title, class: "Edit__Content__Form"
    .Edit__Content
      .Edit__Content__Title
        内容
        = f.text_area :content, class: "Edit__Content__TextArea"
    = f.submit '変 更', class: "Edit__Submit"