%h1 メモ
%ul
  - @memos.each do |memo|
    %li
      = memo.title
      = memo.content
      -# = link_to "編集", edit_project_path(project.id)
      -# = link_to "削除", project_path(project.id), method: :delete, data: {confirm: "are you sure?"}