.New
  = form_with model:@memo, html: {class:"Edit__Form"}, local:true do |f|
    .New__Content
      .New__Content__Title
        タイトル
        = f.text_field :title, class: "New__Content__Form"
    .New__Content
      .New__Content__Title
        内容
        = f.text_area :content, class: "New__Content__TextArea"
    = f.submit '新規作成', class: "New__Submit"