!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WithWork
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .Header
        .Header__Bar
          %h1.Header__BarTitle
            With Work
          -if user_signed_in?
            %p.Header__BarUser
              name    
    = yield

